<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      <div class="center-full">
        <ion-icon
          src="../../../assets/icon/md-cat-white.svg"
          class="title-icon"
        ></ion-icon
        >Bill Kitty
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-text><h4>Quittung aktualisieren</h4></ion-text>
  </div>

  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-datetime
          [(ngModel)]="record.Date"
          displayFormat="DD.MM.YYYY"
          placeholder="Datum"
        >
        </ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-select [(ngModel)]="record.User" placeholder="Person">
        <ion-select-option *ngFor="let user of users" [value]="user">
          {{ user.Name }}
        </ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-input
          [(ngModel)]="record.Description"
          placeholder="Beschreibung"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
        <ion-input
          [(ngModel)]="record.Amount"
          placeholder="Betrag(€)"
          type="number"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-col class="ion-text-center">
      <ion-button expand="block" color="success" (click)="updateRecord()"
        >Aktualisieren</ion-button
      >
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button expand="block" color="danger" (click)="onDismiss()"
        >Abbrechen</ion-button
      >
    </ion-col>
  </ion-item>
</ion-footer>
