<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      <div class="center-full">
        <ion-icon
          src="../../../assets/icon/md-cat-white.svg"
          class="title-icon"
        ></ion-icon
        >Quittung löschen
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dialog-font-size">
  <ion-row class="ion-text-center ion-margin-top">
    <ion-col size="10" class="ion-text-center">
      Soll die Quittung wirklich gelöscht werden?
    </ion-col>
  </ion-row>

  <ion-row class="center-full">
    <ion-col size="1" class="ion-text-center">
      <ion-icon [name]="receipt.User.Icon"></ion-icon>
    </ion-col>
    <ion-col size="5" class="ion-text-left"> {{receipt.User.Name}} </ion-col>
    <ion-col size="5" class="ion-text-right"> {{receipt.DisplayDate}} </ion-col>
  </ion-row>
  <ion-row class="center-full">
    <ion-col size="5" offset="1" class="ion-text-left">
      {{receipt.Description}}
    </ion-col>
    <ion-col size="5" class="ion-text-right">
      <ion-label color="danger">
        {{receipt.Amount | currency:'EUR':'symbol':'1.2-2':'de-DE'}}
      </ion-label>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-col class="ion-text-center">
      <ion-button size="large" expand="block" (click)="onApprove()"
        >Ja</ion-button
      >
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button size="large" expand="block" (click)="onDismiss()"
        >Nein</ion-button
      >
    </ion-col>
  </ion-item>
</ion-footer>
